<div class="contenedor">

    <!-- Tarjeta Delantera -->
    <section class="tarjeta" id="tarjeta" #card (click)=" rotate(card) ">
        <div class="delantera">
            
            <!-- Contenedor para logo segun numero de tarjeta -->
            <div class="logo-marca" id="logo-marca"></div>

            <img src="../../../../../../assets/chip-tarjeta.png" class="chip" />
            <div class="datos">
                <div class="grupo">
                    <p  *ngIf="cardNumber !== '' "
                        class="numero" 
                        id="numero">{{ cardNumber | creditNumber }}
                    </p>
                    <p  *ngIf="cardNumber == '' "
                        class="numero" 
                        id="numero"> #### #### #### ####
                    </p>
                </div>
                <div class="flexbox">
                    <div class="grupo">
                        <p class="label" 
                            >Card Holder</p>
                        <p *ngIf=" cardName !== '' "
                           class="nombre"  
                           id="nombre"> {{ cardName | uppercase | creditName }} 
                        </p>
                        <p *ngIf=" cardName == '' "
                           class="nombre"  
                           id="nombre"> Jhon Doe 
                        </p>
                    </div>
                    <div class="grupo" id="expiracion">
                        <p class="label">Expiración</p>
                        <p class="expiracion"><span id="mes"> {{ month }}</span>/<span id="year">{{ year }} </span></p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tarjeta trasera -->
        <div class="trasera">
            <div class="barra-magnetica"></div>
            <div class="datos">
                <div class="grupo" id="ccv">
                    <p class="label" id="cvvLabel"> CVV </p>
                    <p *ngIf=" cvvNumber !== '' " class="ccvP text-end" id="codigo"> {{ cvvNumber }} </p>
                    <p *ngIf=" cvvNumber == '' " class="ccvP text-end" id="codigo"> *** </p>
                </div>
            </div>
            <div class="logo-marca back" id="logo-marca-trasera"></div>
        </div>
    </section>


    <!-- Boton abrir formulario -->
    <div class="contenedor-btn" #button (click)="displayForm()">
        <button class="btn-abrir-formulario" id="btn-abrir-formulario">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <!-- Formulario -->
    <form [formGroup]="miFormulario" class="formulario-tarjeta" 
    id="formulario-tarjeta" (ngSubmit)="payment()">
        <div class="grupo">
            <label for="inputNumero">Número Tarjeta</label>
            <input  type="text" 
                    id="inputNumero"
                    name="cardNumber"
                    maxlength="19"
                    formControlName="number"
                    #numero
                    (click)="voltearTarjeta()"
                    (keyup)="addNumber(numero.value)"
                    (keyup)="complete(miFormulario)"
                    required>
            <span class="error" *ngIf="campoValido('number')">
                    Debe ser un numero de 16 digitos
            </span>
        </div>
        <div class="grupo">
            <label for="inputNombre">Nombre</label>
            <input type="text" 
                   id="inputNombre" 
                   name="cardName"
                   maxlength="20"
                   formControlName="name"
                   #nombre
                   (click)="voltearTarjeta()"
                   (keyup)="addName(nombre.value)"
                   required>
            <span class="error" *ngIf="campoValido('name')">
                    Deben ser letras
            </span>
        </div>
        <div class="flexbox">
            <div class="grupo expira">
                <label for="selectMes">Expiración</label>
                <div class="flexbox">
                    <div class="grupo-select">
                        <select name="mes" 
                                id="selectMes"
                                formControlName="month"
                                (click)="voltearTarjeta()"
                                (change)="addMonth(monthF.value)"
                                #monthF
                                required>
                            <option selected disabled>
                                {{  "Month" || month }}
                            </option>
                            <option *ngFor="let mes of mesesYear"
                                    id="mes"> {{ mes }} 
                            </option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="grupo-select">
                        <select name="year" 
                                id="selectYear"
                                formControlName="year"
                                (click)="voltearTarjeta()"
                                (change)="addYear(yearF.value)"
                                #yearF
                                required>
                            <option disabled selected>{{ "Year" || year }}</option>
                            <option *ngFor="let year of years"> {{ year }}</option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <span class="error1" *ngIf="campoValido('month')||campoValido('year')">
                    Campo obligatorio
                </span>
            </div>
            <div class="grupo ccv">
                <label for="inputCCV">CVV</label>
                <input class="cvv" type="text" 
                       id="inputCCV"
                       name="inputCCV"
                       maxlength="3" 
                       formControlName="cvv"
                       #cvvNum
                       (click)="rellenarCVV()"
                       (keyup)="addCvv(cvvNum.value)"
                       required>
                <span class="error" *ngIf="campoValido('cvv')">
                        Debe ser 3 digitos
                </span>
            </div>
        </div>
        <div class="d-flex gap-2 butt">
            <button 
                    type="button" 
                    class="btn btn-danger row"
                    routerLink="/user/cart"
                    >Regresar al carrito</button>
            <button [disabled]="miFormulario.invalid"
                    type="submit" 
                    class="btn btn-primary row"
                    >Enviar</button>
        </div>
    </form>
    
</div>