.background{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    width: 100%;
    background: url('../../../../../assets/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    scale: 1; 
}
