<div class="container flex">
  <div class="left">
    <div class="main_image">
      <img src="{{product.images[0]}}" #slider>
    </div>
    <div class="option flex">
      <img src="{{product.images[0]}}" (click)="img(product.images[0])">
      <img src="{{product.images[1]}}" (click)="img(product.images[1])">
      <img src="{{product.images[2]}}" (click)="img(product.images[2])">
    </div>
  </div>
  <div class="right">
    <h3>{{product.title}}</h3>
    <h4> <small>$</small>{{product.price}}</h4>
    <p>{{product.description}}</p>
    <h5>Cantidad:</h5>
    <div class="add flex1">
      <button style=" width: '30px'; height: '30px'; borderRadius: '50%'; display: 'flex'; justifyContent: 'center'; alignItems: 'center'; marginRight: '10px' " (click)="decrease()">
        -
        </button>
        <span class="quantity">{{product.quantity || 1}}</span>
        <button style=" width: '30px'; height: '30px'; borderRadius: '50%'; display: 'flex'; justifyContent: 'center'; alignItems: 'center'; marginRight: '10px' " (click)="increase()">
        +
      </button>
    </div>
    <button (click)="addProduct()">Agregar al carrito</button>
    <button class="back" routerLink="/products">Volver al catalogo</button>
  </div>
</div>