<div class="container flex">
  <div class="left">
    <div class="main_image">
      <img src="{{product.images[0]}}" #slider>
    </div>
    <div class="option flex">
      <img src="{{product.images[0]}}" (click)="img(product.images[0])">
      <img src="{{product.images[1]}}" (click)="img(product.images[1])">
      <img src="{{product.images[2]}}" (click)="img(product.images[2])">
    </div>
  </div>
  <div class="right">
    <h3>{{product.title}}</h3>
    <h4> <small>$</small>{{product.price}}</h4>
    <p>{{product.description}}</p>
    <h5>Cantidad</h5>
    <div class="add flex1">
      <span>-</span>
      <label>1</label>
      <span>+</span>
    </div>
    <button>Agregar al carrito</button>
  </div>
</div>