<footer>
    <div class="social-icons-container">
        <a href="" class="social-icon"></a>
        <a href="" class="social-icon"></a>
        <a href="" class="social-icon"></a>
    </div>
    <ul class="footer-menu-container">
        <li class="menu-item">Privacidad</li>
        <li class="menu-item">Tiendas</li>
        <li class="menu-item">Envíos</li>
        <li class="menu-item">Reembolso</li>
    </ul>
    <div class="foot">
        <p>Copyright © 2023 <span>Steven Medina</span></p>
    </div>
</footer>
