.banner {
    margin: 0 auto;
    padding: 10px 0px;
    background-color: aqua;
    color: white;
    text-align: center;
}

h2 {
    margin: 0px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    h2 {
        letter-spacing: 5px;
        font-size: 90%;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        letter-spacing: 3px;
        font-size: 65%;
    }
}