<div class="main">
    <div class="filter-bar">
        <form (ngSubmit)="search()" autocomplete="off">
            <input type="text" 
                    name="termino"
                    class="search-bar" 
                    [(ngModel)]="word"
                    placeholder="Buscar">
        </form>
        <ul class="indicator">
            <!-- <li class="active"><a href="#">Todos</a></li> -->
            <li *ngFor="let categorie of categories">
                <a (click)="filter(categorie.id)">{{categorie.name}}</a>
            </li>
        </ul>
        <div class="filter-condition">
            <span>Ordenar por precio: </span>
            <select name="" id="select" (change)="sortPrice($event)" >
                <option hidden selected>Selecciona</option>
                <option value="LowToHigh">Bajo a alto</option>
                <option value="HighToLow">Alto a bajo</option>
            </select>
        </div>
    </div>
    <div>
        <div class="spinner-border text-warning" role="status" style="width: 5rem; height: 5rem;" *ngIf="loadData">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="container">
            <app-card *ngFor="let product of products" [product]="product"></app-card>
        </div>
    </div>
</div>
<app-paginator [products]="productsPaginator" [length]="length" [pageIndex]="index" (paginated)="paginated($event)"></app-paginator>

